<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">

	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
	<title>IDeaS - Revenue Optimization Game</title>
<!-- google-analytics -->
	<script>
			(function(i, s, o, g, r, a, m) {
					i['GoogleAnalyticsObject'] = r;
					i[r] = i[r] || function() {
							(i[r].q = i[r].q || []).push(arguments)
					}, i[r].l = 1 * new Date();
					a = s.createElement(o),
							m = s.getElementsByTagName(o)[0];
					a.async = 1;
					a.src = g;
					m.parentNode.insertBefore(a, m)
			})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
			ga('create', {
					trackingId: 'UA-79519182-2',
					cookieDomain: 'auto',
					name: 'UserTracker',
					userId: '',
					source: ''
			});

			ga('UserTracker.set', {
					page: '/game',
					title: 'Game'
			});
			ga('UserTracker.send', 'pageview');
	</script>
<!-- End of google-analytics -->

</head>

<body>
	<div>
		<%=title%>
			<ul class="social list-inline">
				<li>
					<a href="/auth/google" class="googleplus"> <i class="fa fa-google-plus"></i></a>

					<a href="/auth/twitter" class="twitter"> <i class="fa fa-twitter"></i></a>
					<a href="/auth/facebook" class="facebook"> <i class="fa fa-facebook"></i></a>
				</li>
			</ul>
	</div>

</body>

</html>
